/*     Copyright 2016 Paweł Klockiewicz; MIT licensed     */   


/* 1. GENERAL
--------------------------------------------------------- */
body,
input,
select,
textarea {
    background: 0;
    border-radius: 0;
    font: 16px sans-serif;
    margin: 0
}
.smooth {
    transition: all .2s
}
.addon,
.nav,
input,
select,
textarea {
    outline: 0;
    font-size: 14px
}
.btn,
.nav a {
    text-decoration: none
}
.container {
    margin: 0 20px;
    width: auto
}
@media(min-width: 1180px) {
	.container {
		margin: auto;
		width: 1140px;
	}
}

/* 2. FORM
--------------------------------------------------------- */
label>* {
    display: inline
}
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
label,
select,
textarea {
    display: block;
    margin: .6em 0;
    box-sizing: border-box;
    width: 100%;
}
label>input,
label>input[type=checkbox],
label>input[type=radio],
label>select {
    display: inline-block;
}
.form-inline > *,
.form-inline > * > * {
    display: inline-block;
    vertical-align: top;
}
form.inline label,
.form-inline label {
    padding-top: 4px;
}
.form-inline input:not([type="checkbox"]),
.form-inline label,
.form-inline .btn {
    margin: 10px 10px 0 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0
}
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
select,
textarea {
    padding: 0.5em 0.6em;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 3px #DDD inset;
    background: #fff;
    color: #777;
    transition: border 0.2s;
}
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):focus,
select:focus,
textarea:focus {
    border: 1px solid #129FEA;
}
input[type=text],
textarea {
    -webkit-appearance: none
}
.addon {
    padding: 8px 12px;
    box-shadow: 0 0 0 1px #ccc
}
.checkbox-inline,
.radio-inline {
    display: inline;
}
fieldset[disabled] *,
.disabled label,
input[disabled],
textarea[disabled],
.label.disabled {
    cursor: not-allowed;
}
label[for] {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
@media (max-width: 870px)
{
    label[for] {
        text-align: left;
    }
}
label[for],
form input[type="text"] {
    display: inline-block;
    box-sizing: border-box;
}
.has-success input,
input.has-success {
    border-color: #93c54b;
}
.has-warning input,
input.has-warning {
    border-color: #f47c3c;
}
.has-error input,
input.has-error {
    border-color: #d9534f;
}
[class*="has-"] {
    border-width: 2px;
}
.input-lg {
    font-size: 18px;
}
.input-sm {
    font-size: 12px;
    padding: 6px;
}
select {
    background: #fff;
}
.help-block {
    color: #777;
}
.radio,
.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 3. BUTTONS
--------------------------------------------------------- */
.btn {
    background: #bdc3c7;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .5em 1em;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    line-height: normal;
    vertical-align: baseline;
    transition: 0.3s box-shadow;
}
.btn:hover {
    box-shadow: inset 0 -10px 25px -10px rgba(0,0,0,0.3);
    color: #fff;
}
.btn:active,
.btn:focus {
    background: #a1a6a9;
}
.btn-primary {
    background: #325d88;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-a.active {
    background: #244363;
}
.btn-success {
    background: #93c54b;
}
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-b.active {
    background: #79a736;
}
.btn-danger {
    background: #d9534f;
}
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active,
.btn-c.active {
    background: #c9302c;
}
.btn-default {
    background: #3e3f3a;
}
.btn-default:active,
.btn-default:focus,
.btn-default.active {
    background: #242422;
}
.btn.btn-link {
    background: #fff;
    color: #38b;
}
.btn-link:hover {
    color: #27a;
    text-decoration: underline;
}
.btn-link:active,
.btn-link:focus,
.btn-link.active {
    color: #169;
    text-decoration: underline;
}
.btn-info {
    background: #3A9CD6;
}
.btn-info:active,
.btn-info:focus,
.btn-info.active {
    background: #2c81ba;
}
.btn-warning {
    background: #f47c3c;
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active {
    background: #ef5c0e;
}
.btn-xs {
    font-size: 70%;
}
.btn-sm {
    font-size: 90%;
}
.btn-lg {
    font-size: 125%;
}
.btn-block {
    width: 100%;
    box-sizing: border-box;
}
.btn[disabled],
.btn.disabled,
fieldset[disabled] .btn {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

/* 4. GRIDS
--------------------------------------------------------- */
.row,
[class*=col-] {
    box-sizing: border-box;
}
[class*=col-] {
    float: left;
}
[class*=col-]+[class*=col-] {
    margin-left: 2%
}
.col-12,
.table {
    width: 100%
}
.col-11 {
    width: 91.5%
}
.col-10 {
    width: 83%
}
.col-9 {
    width: 74.5%
}
.col-8 {
    width: 66%
}
.col-7 {
    width: 57.5%
}
.col-6 {
    width: 49%
}
.col-5 {
    width: 40.5%
}
.col-4 {
    width: 32%
}
.col-3 {
    width: 23.5%
}
.col-2 {
    width: 15%
}
.col-1 {
    width: 6.5%
}
.col-12-offset {
    margin-left: 100%
}
.col-11-offset {
    margin-left: 93.5%
}
.col-10-offset {
    margin-left: 85%
}
.col-9-offset {
    margin-left: 76.5%
}
.col-8-offset {
    margin-left: 68%
}
.col-7-offset {
    margin-left: 59.5%
}
.col-6-offset {
    margin-left: 51%
}
.col-5-offset {
    margin-left: 42.5%
}
.col-4-offset {
    margin-left: 34%
}
.col-3-offset {
    margin-left: 25.5%
}
.col-2-offset {
    margin-left: 17%
}
.col-1-offset {
    margin-left: 8.5%
}
.no-gutter>[class*=col-]+[class*=col-] {
    margin-left: 0
}
.no-gutter>.col-11 {
    width: 91.66%
}
.no-gutter>.col-10 {
    width: 83.33%
}
.no-gutter>.col-9 {
    width: 75%
}
.no-gutter>.col-8 {
    width: 66.66%
}
.no-gutter>.col-7 {
    width: 58.33%
}
.no-gutter>.col-6 {
    width: 50%
}
.no-gutter>.col-5 {
    width: 41.66%
}
.no-gutter>.col-4 {
    width: 33.33%
}
.no-gutter>.col-3 {
    width: 25%
}
.no-gutter>.col-2 {
    width: 16.66%
}
.no-gutter>.col-1 {
    width: 8.33%
}
.no-gutter>.col-11-offset {
    margin-left: 91.66%
}
.no-gutter>.col-10-offset {
    margin-left: 83.33%
}
.no-gutter>.col-9-offset {
    margin-left: 75%
}
.no-gutter>.col-8-offset {
    margin-left: 66.66%
}
.no-gutter>.col-7-offset {
    margin-left: 58.33%
}
.no-gutter>.col-6-offset {
    margin-left: 50%
}
.no-gutter>.col-5-offset {
    margin-left: 41.66%
}
.no-gutter>.col-4-offset {
    margin-left: 33.33%
}
.no-gutter>.col-3-offset {
    margin-left: 25%
}
.no-gutter>.col-2-offset {
    margin-left: 16.66%
}
.no-gutter>.col-1-offset {
    margin-left: 8.33%
}

/* 5. HEADINGS
--------------------------------------------------------- */
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: .8em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 65%;
    color: #999;
}

/* 6. NAVBAR
--------------------------------------------------------- */
.nav,
.nav .current,
.nav a:hover {
    background: #000;
    color: #fff
}
.nav {
    height: 24px;
    padding: 11px 0 15px
}
.nav a {
    color: #aaa;
    padding-right: 1em;
    position: relative;
    top: -1px
}
.nav .pagename {
    font-size: 22px;
    top: 1px
}
.navlink-right {
    margin-right: 1em;
    float: right;
    position: relative;
    top: 5px
}
.navlink-right .pulldown {
    float: right;
    text-align: right;
    right: 13px;
    left: initial
}
.nav form *,
.nav form {
    display: inline-block
}
.nav form input {
    color: white
}
.nav form {
    position: relative;
    top: -1px;
    height: 31px;
    margin-top: -4px
}
.nav .btn {
    padding: 10px 15px 8px
}
.nav div:not(.container):before {
    content: none
}
.btn.btn-close {
    background: #000;
    float: right;
    font-size: 25px;
    margin: -54px 7px;
    display: none
}
.pulldown {
    display: none;
    background: black;
    width: 205px;
    position: absolute;
    left: -13px
}
.pulldown>ul {
    padding: 0 10px 10px 22px;
    line-height: 27px;
    list-style: initial;
    list-style-type: none;
    margin: 4px 0 0 0
}
div.wpd {
    position: relative;
    display: inline-block;
    padding-top: 0;
    font-size: 14px;
    top: -1px;
    padding-right: 1em
}
div.wpd::after {
    content: ' \25BC'
}
.pulldown hr {
    margin: .5em -10px .5em -22px;
    height: 1px;
    background: #aaa;
    border: 0
}
.pulldown h5 {
    margin: 0 auto
}
div.wpd:hover::after {
    visibility: hidden
}
.navbar-link.wpd li>a {
    color: white
}
div.wpd:hover .pulldown {
    display: block
}
.navlink-right .indent {
    margin-right: 25px
}
.indent {
    margin-left: 25px
}
@media(max-width:500px) {
    .navlink-right .pulldown {
        text-align: left;
        right: auto
    }
    .navlink-right {
        margin-right: 0;
        float: none;
        display: inline-block;
        width: 75%
    }
    .navlink-right .indent {
        margin-left: 25px
    }
    li {
        display: block
    }
    .navbar {
        height: auto
    }
    div.wpd {
        display: block;
        width: 100%;
        padding: .5em 0 0 0;
        margin-left: 0;
        position: relative;
        color: #aaa
    }
    div.wpd:hover::after {
        content: none
    }
    div.wpd>.pulldown {
        width: 100%;
        position: relative;
        display: block
    }
    .pulldown>ul {
        padding: 0;
        line-height: inherit;
        margin-bottom: 0;
        margin-left: 20px
    }
    div.wpd::after {
        content: ''
    }
}

/* 7. MEDIA QUERY
--------------------------------------------------------- */
.visible-lg,
.visible-md,
.visible-sm {
    display: none!important
}
@media(min-width:1180px) {
    .hidden-lg,
    .visible-md,
    .visible-sm {
        display: none!important
    }
}
@media(max-width:870px) {
    .row [class*=col-] {
        width: 100%;
        margin: 1% 0
    }
    .visible-md {
        display: block!important
    }
    .hidden-md {
        display: none!important
    }
}
@media(max-width:500px) {
    .visible-sm {
        display: block!important
    }
    .hidden-sm {
        display: none!important
    }
    .btn.btn-close {
        display: block
    }
    .nav {
        overflow: hidden
    }
    .pagename {
        margin-top: -11px
    }
    .nav:active,
    .nav:focus {
        height: auto
    }
    .nav div:before {
        background: #000;
        border-bottom: 10px double;
        border-top: 3px solid;
        content: '';
        float: right;
        height: 4px;
        position: relative;
        right: 3px;
        top: 14px;
        width: 20px
    }
    .nav a {
        padding: .5em 0;
        display: block;
        width: 50%
    }
}

/* 8. TABLES
--------------------------------------------------------- */
.table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.table td,
.table th {
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #DADADA
}
.table tr:last-child td {
    border-bottom: 0
}
.table tr:hover td {
    background: #f3f3f3
}
.table tbody>:nth-child(2n-1) {
    background: #f8f8f8
}
table.bordered,
table.bordered td,
.table-bordered td,
.table-bordered th {
    border: 1px solid #ccc;
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background: #ddd;
}
.table-condensed td,
.table-condensed th {
    padding: 5px;
}
.table tr.active {
    background: #ddd;
}
.table tr.success {
    background: #ded;
}
.table tr.info {
    background: #def;
}
.table tr.warning {
    background: #ffd;
}
.table tr.danger {
    background: #fdd;
}
@media(max-width:870px) {
    .table-responsive thead {
        display: none;
    }
    .table-responsive tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #DADADA;
    }
    .table-responsive td {
        display: block;
        text-align: right;
    }
    .table-responsive tr:last-child td {
        border-bottom: 1px solid #DADADA;
    }
    .table-responsive td:last-child {
        border-bottom: 0;
    }
    .table-responsive td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}

/* 9. BLOCKQUOTE
--------------------------------------------------------- */
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}
blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

/* 10. LIST
--------------------------------------------------------- */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-inline {
    padding-left: 0;
}
.list-inline > li:first-child {
    padding-left: 0;
}
.list-inline > li {
    padding: 0 5px;
}

/* 11. TEXT
--------------------------------------------------------- */
.text-muted {
    color: #777;
}
.text-primary {
    color: #325d88;
}
.text-success {
    color: #93c54b;
}
.text-info {
    color: #3498db;
}
.text-warning {
    color: #f47c3c;
}
.text-danger {
    color: #d9534f;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify !important;
}
.text-nowrap {
    white-space: nowrap !important;
}
.text-lowercase {
    text-transform: lowercase !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

/* 12. DROP-DOWN
--------------------------------------------------------- */
.dropdown {
    position: relative;
}
    .dropdown .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        list-style: none;
        text-align: left;
    }
        .dropdown:hover .dropdown-menu {
            display: block;
        }
li.dropdown-header {
    color: #bbb;
    font-weight: bold;
}
li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .15);
}
li.disabled:hover {
    cursor: not-allowed !important;
}
li.disabled a {
    color: #bbb;
    pointer-events: none;
}

/* 13. DL, DT, CODE, KBD, PRE, ABBR, MSG
--------------------------------------------------------- */
dl {
    margin-top: 0;
}
dt {
    font-weight: bold;
}
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}
code {
    padding: 2px 4px;
    background: #eee;
    border-radius: 4px;
}
kbd {
    padding: 2px 4px;
    color: #fff;
    background: #333;
    border-radius: 3px;
    font-family: monospace;
}
pre.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
.msg {
    padding: 1em;
    background: #def;
    border-left: 5px solid #3498db;
    margin: 15px 0;
}

/* 14. BACKGROUNDS
--------------------------------------------------------- */
.bg-primary {
    background: #325d88;
}
.bg-success {
    background: #93c54b;
}
.bg-info {
    background: #3A9CD6;
}
.bg-warning {
    background: #f47c3c;
}
.bg-danger {
    background: #d9534f;
}
[class*="bg-"] {
    padding: 15px;
    color: white;
}

/* 15. IMAGES
--------------------------------------------------------- */
.img-responsive {
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-circle {
    border-radius: 50%;
}
.img-thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
}

/* 16. COMPONENTS
--------------------------------------------------------- */
.well {
    background: #eee;
    box-shadow: inset 0 1px 1px #ddd;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
}
.well-lg {
    padding: 24px;
}
.well-sm {
    padding: 9px;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

/* 17. HELPERS
--------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    content: "";
    display: table
}
.clearfix:after,
.row:after {
    clear: both
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none!important;
    visibility: hidden!important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.hamburger {
    position: relative;
    padding-left: 1.25em;
}
.hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
}
